.css-shadow {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid rgb(90, 184, 255);
  filter: drop-shadow(0 0 40px rgb(90, 184, 255));
}

.my_p {
  font-size: 18px;
}

.my_breite {
  align-items: center;
}

.blau {
  color: rgb(90, 184, 255);
}
.btn_blau {
  background-color: rgb(90, 184, 255);
  border-radius: 4px;
  border-width: 0;
}
