.qualification_tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification_button {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.qualification_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification_title {
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: none;
}

.qualification_subtitle {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
h6 {
  margin-bottom: 1px;
}

.qualification_calendar {
  font-size: 16px;
  margin-right: 1rem;
}

.date_icon_recht {
  justify-content: end;
}

.qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: rgb(90, 184, 255);
  border-radius: 50%;
}

.qualification_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgb(90, 184, 255);
  transform: translate(6px, -7px);
}

.qualification_group {
  color: rgb(90, 184, 255);
  display: flex;
  flex-direction: row;
}

.recht {
  text-align: right;
}
.links {
  text-align: left;
}
